/*#00c853 green accent-4*/
/*#e65100 orange darken-4*/
/*#616161 grey darken-2
#424242 grey darken-3
#212121 grey darken-4*/
/*#b9f6ca green accent-1*/
/*#69f0ae green accent-2*/

/*ScrollBar*/
::-webkit-scrollbar{
	width: 7px;
}

::-webkit-scrollbar-thumb{
	background-color: black;
	border-radius: 5px;
}



.card{
	margin: 0;
}

.row .col{
	padding: 0;
}

.grid,.iconos{
	text-align: right;
}

.container{
	width: 95%;
}

/*.font-r{
	font-family: 'Raleway', sans-serif;
}

.font-c{
	font-family: 'Inconsolata', monospace;
}

.font-z{
	font-family: 'Zilla Slab Highlight', cursive;
	font-size: 1.3rem;
}*/

a{
	color: black;
	text-decoration: none;
}

nav .nav-wrapper{
	height: 120%;
}

nav h4, nav h5{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	width: 100%;
	line-height: 50%;
}

nav h6{
	color: #e65100;
	font-family: 'Inconsolata', monospace;
	font-size: 14.5px;
}

#lenguaje{
	margin-right: 5%;
}

#curric{
	font-family: 'Inconsolata', monospace;
	height: 30px;
}

#curric h6{
	margin: 0;
	line-height: 30px;
	font-style: oblique;
	font-size: 15px;
	width: 100%;
}

.card-panel p{
	font-family: 'Raleway', sans-serif;
	font-size: 1.1rem;
}

.card-panel h6{
	font-family: 'Zilla Slab Highlight', cursive;
	font-size: 1.3rem;
}

#me{
	width: 100px;
	height: 100px;
}

.margin{
	margin-top: 60px;
}

main h5{
	font-family: 'Inconsolata', monospace;
	font-weight: 900;
	margin-bottom: 0;
}

.card .card-image .card-title{
	font-family: 'Zilla Slab Highlight', monospace;
	right: 0;
	padding-bottom: 10px;
	font-weight: 500;
}

main p{
	font-family: 'Inconsolata', monospace;
	font-weight: 900;
	color: black;
}

main .titulo{
	color: gray;
}

.card-image{
	max-height: 100px;
	overflow: hidden;
}

.grey .s6{
	height: 100px;
}
.card .card-reveal{
	background-color: rgba(221, 44, 0,0.85);
	overflow: hidden;
	padding-top: 10px;
}

.card-reveal h6{
	font-family: 'Inconsolata', monospace;
	font-weight: 900;
	margin-top: 0;
	color: #ff6e60;
}

.card-reveal p{
	height: 55px;
	overflow: auto;
	color: #ff9e80;
}

.card-reveal p::-webkit-scrollbar-thumb{
	background-color: #ff6e40;
}

.card-reveal i{
	color: #424242;
}

.iconos i{
	margin-top: 7px;
}

p{
	color: black;
	margin: 0;
}

footer{
	font-family: 'Raleway', sans-serif;
}

footer i{
	font-size: 40px;
	color: #ff3d00;
}

li p{
	color: #dd2c00;
	font-weight: 900;
}

li{
	display: initial;
	padding-left: 5px;
}
